/* /* * {
  background-color: brown;

} */
#heading2 {
  background-color: blue;
}
.heading {
  background-color: blue;
}
h1,
p {
  background-color: brown;
}
div > p {
  background-color: aquamarine;
} */ 